/* Styles généraux pour le corps de la page */
body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background: linear-gradient(0deg, rgba(70, 38, 92, 0.40) 0%, rgba(70, 38, 92, 0.40) 100%);
}

/* Styles pour les sections */
.section {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #32223D;
    border-radius: 2.5rem;
    border: 1px white solid;
}

.section-1 {
    margin-top: 5%;
}

.section-2 {
    margin-top: 5%;
}

/* Styles pour le conteneur du formulaire de contact */
.contact-form-container {
    position: relative;
    width: 90%;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Styles pour le formulaire de contact */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
}

.contact-title {
    width: auto;
    height: auto;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.input-field, .message-field {
    position: relative;
    width: 100%;
    height: auto;
}

.message-field {
    height: auto;
}

.input-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 1.25rem;
}

.input-placeholder {
    position: absolute;
    left: 2%;
    bottom: 5%;
    color: rgba(0, 0, 0, 0.60);
    font-size: 0.875rem;
    font-family: Poppins;
    font-weight: 300;
    line-height: 1.75rem;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.button {
    padding: 1rem;
    background: #46265C;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    width: auto;
    height: auto;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}

.button-border {
    width: 2rem;
    height: 0;
    border: 2px white solid;
}

/* Styles pour les icônes sociales */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-background {
    width: 100%;
    height: 100%;
    background: white;
}

/* Styles pour la section des compétences */
.skills-section {
    width: auto;
    height: 10%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.skills-title {
    width: auto;
    height: auto;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    word-wrap: break-word;
}

.skills-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
}

.skill-card {
    width: 100%;
    height: auto;
    position: relative;
    padding: 1rem;
    border-radius: 2.5rem;
    background: #32223D;
    box-shadow: 0.25rem 0.25rem 0.875rem rgba(0, 0, 0, 0.50);
}

.skill-card-content {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.skill-icon {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-background {
    width: 100%;
    height: 100%;
    background: white;
}

.skill-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.skill-name {
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    word-wrap: break-word;
}

.skill-description {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    word-wrap: break-word;
}

/* Styles pour la section "À propos" */
.about-section {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.profile-image {
    width: 50%;
    height: auto;
    background: linear-gradient(0deg, white 0%, white 100%);
    border-radius: 70%;
}

.about-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.about-title {
    width: auto;
    height: auto;
    color: #A96CD7;
    font-size: 200%;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.about-description {
    width: 100%;
    height: auto;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.about-text {
    width: 100%;
    height: auto;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.about-details {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.detail-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.detail-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.detail-label {
    width: auto;
    height: auto;
    color: #A96CD7;
    font-size: 1rem;
    font-weight: 700;
}

.detail-value {
    width: auto;
    height: auto;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

/* Styles pour l'en-tête */
.header {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.header-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.header-title {
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: Lato;
    font-weight: 700;
}

.header-button {
    padding: 1rem;
    background: #46265C;
    border-radius: 1rem;
    border: 1px white solid;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-subtitle {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}

/* Styles pour la barre de navigation */
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;
}

.nav-item {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
    margin:2% 2%;
}

.nav-item:hover {
    background-color: white;
    color: black;
    border-radius: 3%;
}

.nav-item:active {
    background-color: #4CAF50;
    color: white;
    border-radius: 15px;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    gap: 20px;
}

/* Styles pour les images supplémentaires */
.additional-image {
    width: 30%;
    height: auto;
    position: relative;
    border-radius: 2.5rem;
    margin-bottom: 5%;
}

/* Styles pour la section des projets */
.project-section {
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.project-title {
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    word-wrap: break-word;
}

.project-container {
    width: 100%;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
.project-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
}
Project card fade effect
.project-card.faded {
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: 0.25;
}
*/
.project-image {
    width: 60%;
    height: auto;
    background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%);
    border-radius: 2.5rem;
}

.project-name {
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    word-wrap: break-word;
}

/* Styles pour le carrousel */



.project-card {
    min-width: 25%;
    box-sizing: border-box;
    padding: 10px;
}

/* Styles pour le formulaire de contact */
.contact-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    padding-right: 1%;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.form-group button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    /* Ajoutez ici les styles supplémentaires que vous souhaitez appliquer */
    background-color: #f0f0f0; /* Exemple de changement de couleur de fond */
    font-size: 1rem; /* Exemple de changement de taille de police */
    color: #333; /* Exemple de changement de couleur de texte */
}

/* Style pour bouton de projet */

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.3em;
    height: 5.3em;
    border: none;
    cursor: pointer;
    border-radius: 0.4em;
    background: rgba(235, 252, 254, 0.8);
  }
  
  .container {
    position: relative;
    width: 3.5em;
    height: 3.1em;
    background: none;
    overflow: hidden;
  }
  
  .folder {
    content: "";
    position: absolute;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, .3); */
  }
  
  .folder_one {
    bottom: 0;
    width: 100%;
    height: 88%;
    border-radius: 3px;
    border-top: 2px solid rgb(206, 167, 39);
    /* background-color: rgb(252, 212, 80); */
    background: linear-gradient(-35deg, rgb(238, 194, 47) 5%, rgb(255, 223, 118));
  }
  
  .folder_two {
    top: 5%;
    width: 38%;
    height: 19%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(206, 167, 39);
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
  }
  
  .folder_two::before {
    content: "";
    position: absolute;
    display: inline;
    left: 88%;
    width: 0;
    height: 0;
    border-left: 7px solid rgb(206, 167, 39);
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    /* background-color: rgb(206, 167, 39); */
  }
  
  .folder_three {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.5em;
    bottom: 0;
    width: 2.5em;
    height: 0.9em;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(-35deg, rgb(25, 102, 218), rgb(109, 165, 249));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  
  .folder_four {
    left: 1em;
    bottom: 0.3em;
    width: 1.5em;
    height: 0.18em;
    border-radius: 1em;
    background-color: rgb(20, 77, 163);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .active_line {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0.9em;
    height: 0.4em;
    background-color: #999;
    border: none;
    border-radius: 1em;
    transition: all 0.15s linear;
  }
  
  .button:active .active_line,
  .button:focus .active_line {
    width: 2.3em;
    background-color: rgb(41, 126, 255);
  }
  
  .button:focus .container {
    animation: wow 1s forwards;
  }
  .folder-grid {
    align-self: items-center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* Ajustez l'espacement entre les colonnes si nécessaire */
}
  
  @keyframes wow {
    20% {
      scale: 0.8;
    }
  
    30% {
      scale: 1;
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-6px);
    }
  
    65% {
      transform: translateY(4px);
    }
  
    80% {
      transform: translateY(0);
    }
  
    100% {
      scale: 1;
    }
  }
  
  .text {
    content: "";
    position: absolute;
    top: -4.5em;
    width: 7.7em;
    height: 2.6em;
    background-color: #666;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    opacity: 0;
    transition: all 0.25s linear;
  }
  
  .button:hover .text {
    opacity: 1;
  }

/* Media Queries pour les différentes tailles d'écran */
@media (max-width: 768px) {
    .section {
        height: auto;
        padding: 2rem 1rem;
    }

    .contact-form {
        gap: 1rem;
    }

    .contact-title {
        font-size: 1.25rem;
    }

    .skills-title, .project-title {
        font-size: 1.5rem;
    }

    .header-title {
        font-size: 2rem;
    }

    .header-button {
        font-size: 0.875rem;
    }

    .header-subtitle {
        font-size: 1rem;
    }

    .about-description {
        font-size: 1.5rem;
    }

    .about-text {
        font-size: 0.875rem;
    }

    .skill-name {
        font-size: 1rem;
    }

    .skill-description {
        font-size: 0.875rem;
    }

    .project-name {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .section {
        padding: 1rem;
    }

    .contact-form {
        gap: 0.75rem;
    }

    .contact-title {
        font-size: 1rem;
    }

    .skills-title, .project-title {
        font-size: 1.25rem;
    }

    .header-title {
        font-size: 1.5rem;
    }

    .header-button {
        font-size: 0.75rem;
    }

    .header-subtitle {
        font-size: 0.875rem;
    }

    .about-description {
        font-size: 1.25rem;
    }

    .about-text {
        font-size: 0.75rem;
    }

    .skill-name {
        font-size: 0.875rem;
    }

    .skill-description {
        font-size: 0.75rem;
    }

    .project-name {
        font-size: 1.25rem;
    }
}